<template>
  <div>
    <el-footer>Footer</el-footer>
  </div>
</template>

<script setup lang="ts">

</script>

<style scoped>
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align:center;
}
</style>
