<template>
  <div>
    <el-header>
      <el-icon class="venus-header" @click="menuTransform"><Fold color="#595959"/></el-icon>
    </el-header>
  </div>
</template>

<script setup lang="ts">

function menuTransform(){

  console.log('菜单折叠收起')
}
</script>

<style scoped>
.venus-header{
  line-height: 60px;
  float: left;
  height: 60px;
  font-size: 24px;
}
</style>
