<template>
  <el-main>
    <icon-demo></icon-demo>
    <div>
      <el-button :onclick="fetchAllUser">点我</el-button>
    </div>
  </el-main>
</template>

<script setup lang="ts">
import IconDemo from '@/icons/IconDemo.vue'
import { getUserList } from '@/api/sys/system'

function fetchAllUser(): void{
  getUserList({userName: 'flnn'}).then((response: any) => {
    console.log(response)
  })
}

</script>

<style scoped>

</style>