<template>
  <div class="common-layout">
    <el-container class="home">
      <sidebar></sidebar>
      <el-container direction="vertical">
        <app-header></app-header>
        <app-main></app-main>
        <app-footer></app-footer>
      </el-container>
    </el-container>
  </div>
</template>
<script setup lang="ts">
import Sidebar from './SideBar.vue'
import AppHeader from "./AppHeader.vue"
import AppFooter from "./AppFooter.vue"
import AppMain from './AppMain.vue'

</script>
<style>
.home{
  width: 100%;
  height: 100%;
  position: absolute;
}

body > .el-container {
  margin-bottom:  40px;
}
.el-main {
  background-color: #e9eef3;
  color: #333;
}
</style>
