<template>
  <div>
    <el-sub-menu v-if="menuContent.hasSubMenu" :key="menuContent.index + menuContent.menuName" :index="menuIndex + ''">
      <template #title>
        <el-icon><location /></el-icon>
        <span>{{menuContent.menuName}}</span>
      </template>
      <menu-item v-for="(subMenu, subIndex) in menuContent.subMenu" :menu-content="subMenu" :menu-index="menuContent.index + '-' + subIndex"></menu-item>
    </el-sub-menu>
    <el-menu-item v-else :index="menuIndex + ''">
      <template #title>
        <el-icon><Edit /></el-icon>
        <span>{{menuContent.menuName}}</span>
      </template>
    </el-menu-item>
  </div>
</template>

<script setup lang="ts">
import { Menu } from '@/data/menu'
const props = defineProps<{menuContent: Menu, menuIndex: string|number}>()

</script>

<style scoped>

</style>