<template xmlns="">
  <div class="sidebar">
    <div id="logo" class="project-logo">
    <!--系统图标位置-->
      <a href="/">
        <div class="logo-icon">
          <el-icon color="#cc2244" :size="32">
            <ElementPlus />
          </el-icon>
          <h1>venus-admin</h1>
        </div>
      </a>
    </div>
    <div>
    <!--  菜单栏  -->
      <el-menu
          active-text-color="#fff"
          background-color="#001529"
          class="el-menu-vertical-demo"
          default-active="2"
          :collapse="isCollapse"
          text-color="#fff"
          @open="handleOpen"
          @close="handleClose"
      >
        <menu-item v-for="(menu,index) in menuList" :menu-content="menu" :menu-index="index"></menu-item>
      </el-menu>
    </div>
  </div>
</template>

<script setup lang="ts">
import menuList from '@/data/menu'
import MenuItem from './MenuItem.vue'
import {ref} from "vue"

const isCollapse = ref(false)

const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}
const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath)
}

</script>

<style scoped>
/*去除右侧多出来的边线*/
.el-menu{
  border-right: none;
}
#logo{
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background-color: #001529;
}
.logo-icon{
  float: left;
  height: 64px;
  line-height: 64px;
}
.logo-icon i{
  height: 64px;
  line-height: 64px;
}

.logo-icon > h1{
  float: right;
  height: 64px;
  line-height: 64px;
  margin: auto;
  color: #fff;
}
.logo-icon svg{
  overflow: hidden;
  width:32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  color: #5085e9;
}
.sidebar{
  height: 100%;
  min-width: 256px;
  max-width: 256px;
  width: 256px;
  flex: 0 0 256px;
  background-color: #001529;
  overflow: scroll;
}
.el-aside{
  height: 100%;
  background-color: #d3dce6;
  color: #333;
}

</style>
