<template>
  <div>
    <el-icon color="#cc2244" :size="18">
      <Edit />
    </el-icon>
    <el-icon>
      <HomeFilled />
    </el-icon>
  </div>
</template>

<script setup lang="ts">

</script>


<style scoped>

</style>